.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.error-message {
  display: block;
  padding-top: 10px;
  text-align: center;
  color: #ff0000;
  font-style: italic;
}